@model Microsoft.AspNetCore.Identity.IdentityUser

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<h3>Użytkownik: @Model.UserName</h3>
<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Id:</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th scope="row">Nazwa użytkownika:</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th scope="row">Email:</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th scope="row">Potwierdzony:</th>
            <td>@Model.EmailConfirmed</td>
        </tr>
        <tr>
            <th scope="row">Numer telefonu:</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th scope="row">Dwuetapowa autoryzacja:</th>
            <td>@Model.TwoFactorEnabled</td>
        </tr>
        <tr>
            <th scope="row">Blokada:</th>
            <td>@Model.LockoutEnabled</td>
        </tr>
        <tr>
            <th scope="row">Operacje:</th>
            <td>
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-success">Przypisz role MEMBER</a>
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-danger">Odbierz role MEMBER</a><br /><br />
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-success">Przypisz role MANAGER</a>
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-danger">Odbierz role MANAGER</a><br /><br />
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-success">Przypisz role ADMIN</a>
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-danger">Odbierz role ADMIN</a><br /><br />
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-success">Aktywuj użytkownika</a>
                <a asp-controller="User" asp-action="AddMemberRole" asp-route-id="@Model.Id" class="btn btn-danger">Dezaktywuj użytkownika</a><br /><br />
            </td>
            
                
            
        </tr>
    </tbody>
</table>